# Supabase - browser client (pakai publishable / anon key)
# CONTOH:
#   https://nmavntmgseosyaeijmov.supabase.co
#   sb_publishable_TENlWaF6x0nqu3RG3oqgvw_lGQPDTcZ

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxx